@import "../src/styles/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example of app-specific base styles */
@layer base {
  h1 {
    @apply text-4xl text-gray-800;
  }

  body {
    @apply bg-gray-50 text-gray-900;
  }
}

/* Styling for anchor tags inside headings */
/* Target Storybook docs container for higher specificity */
.sbdocs {
  > h2 {
    @apply mt-12;
  }

  > h3 {
    @apply mt-8;
  }

  > h1 > a,
  > h2 > a {
    @apply mt-3;
  }

  > h3 > a {
    @apply mt-2;
  }

  > h3 + p {
    @apply mt-2;
  }
}
